<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/v1/addd" method="POST">
    <label for="">Identificacion del paciente</label>br
    <input type="number" name="identificacion" id=""><br>
    <label for="">Nombre del paciente</label>
    <input type="string" name="nombre_paciente" id=""><br>
    <label for="">Doctor asignado</label>
    <input type="string" name="doctor" id=""><br>
    <label for="">Especialidad</label>
    <input type="string" name="especialidad" id=""><br>
    <label for="">Fecha</label>
    <input type="Date" name="fecha" id=""><br>
    <label for="">Hora</label>
    <input type="string" name="hora" id=""><br>
    <label for="">Estado</label>
    <input type="string" name="estado" id=""><br>

    
    </form>
</body>
</html>